<!-- Modal -->
<renderless-cart-popup v-slot={popup,close_popup,cart}>
    <div :isopened="popup" id="cart_popup" class="modal fade s-family">

        <div @click="close_popup" class="close_cart">
            <img src="{{ 'close.static.svg' | asset_url }}">
        </div>

        <div class="modal-dialog modal-confirm side_cart">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="text-uppercase ls-1 s-family pb-3 button-size "> Agregaste a tu carrito </h6>
                    <div class="hstack" style="align-items: flex-start;">
                        <img class="cart_img" :src="cart.image">
                        <div class="ms-2">
                            <h5 class="button-size  s-family p-color" v-text="cart.title"></h5>
                            <!-- <p class="button-size  s-family mb-0 text2-color">Color: Azul Barragán </p>
                            <p class="button-size  s-family mb-0 text2-color">Patas: Madera Cilíndrica, Maple</p>
                            <p class="button-size  s-family mb-0 text2-color">Costados: Madera Maple</p> -->
                            <div class="hstack">
                                <p class="button-size mb-0  s-family me-3"
                                    v-text="`$ ${(cart.original_price / 100).toLocaleString('en-US')}`"> </p>
                                <p class="button-size mb-0 s-family text2-color text-decoration-line-through"
                                    v-text="`$ ${(cart.discounted_price / 100).toLocaleString('en-US')}`">
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-body" style="padding: 0;">



                    <div vue class="">

                        <renderless-add-to-cart v-slot="{ processCartForm }">


                            {% capture cartForm %}

                            <div id="add_to_cart" style="width: 100%;">
                                <button name="add" class="text-uppercase ls-1 p-color border-btn " style="white-space: nowrap;" >
                                    agregar al carrito</button>
                            </div>

                            {% endcapture %}



                            <section class="py-5 minus-80">
                                <div class="">
                                    <div class="mb-3 d-flex justify-content-between">
                                        <h4 class="mt-0 s-family button-size text-uppercase">Complementa tu espacio</h4>
                                        <div class="product_slider_arrow"><img class="prev-arrow"
                                                src="{{ 'mini-prev.static.svg'  | asset_url}}" style="padding-right: 0px;">
                                          <img
                                                class="next-arrow" style="padding-left: 0px;" 
                                                src="{{ 'mini-next.static.svg'  | asset_url}}"></div>
                                    </div>
                                    <div class="cart_slider swiper">
                                        <div class="swiper-wrapper">
                                            {% assign collection = settings.cartSuggestions %}
                                            {% for product in collection.products offset:0 limit:3 %}
                                            <div class=" swiper-slide">

                                                <div class="hstack" style="align-items: flex-start;">


                                                    <img class="cart_img"
                                                        src="{{ product.featured_image.src | img_url: '1024x' }}">
                                                    <div class="ms-2">
                                                        <a href="{{product.url}}" class="text-decoration-none">
                                                            <h5 class="button-size  s-family p-color">{{product.title}}
                                                            </h5>

                                                            <div class="hstack">
                                                                <p class="button-size mb-0  s-family me-3">{{
                                                                    product.price | money_without_trailing_zeros }} </p>
                                                                <p
                                                                    class="button-size mb-0 s-family text2-color text-decoration-line-through">
                                                                    {{ product.compare_at_price |
                                                                    money_without_trailing_zeros }} </p>
                                                            </div>
                                                            <form method="post" @submit.prevent="processCartForm"
                                                                action="/cart/add" id="product_cart_form">

                                                                <input name="id" type="hidden"
                                                                    value="{{product.variants.first.id}}" readonly>

                                                                {{cartForm}}

                                                            </form>

                                                        </a>

                                                    </div>
                                                </div>


                                            </div>

                                            {% endfor %}



                                        </div>
                                    </div>




                                   <div class="cart_slider swiper mt-3">
                                        <div class="swiper-wrapper">
                                            {% assign collection = settings.cartSuggestions %}
                                            {% for product in collection.products offset:1 limit:3 %}
                                            <div class=" swiper-slide">

                                                <div class="hstack" style="align-items: flex-start;">


                                                    <img class="cart_img"
                                                        src="{{ product.featured_image.src | img_url: '1024x' }}">
                                                    <div class="ms-2">
                                                        <a href="{{product.url}}" class="text-decoration-none">
                                                            <h5 class="button-size  s-family p-color">{{product.title}}
                                                            </h5>

                                                            <div class="hstack">
                                                                <p class="button-size mb-0  s-family me-3">{{
                                                                    product.price | money_without_trailing_zeros }} </p>
                                                                <p
                                                                    class="button-size mb-0 s-family text2-color text-decoration-line-through">
                                                                    {{ product.compare_at_price |
                                                                    money_without_trailing_zeros }} </p>
                                                            </div>
                                                            <form method="post" @submit.prevent="processCartForm"
                                                                action="/cart/add" id="product_cart_form">

                                                                <input name="id" type="hidden"
                                                                    value="{{product.variants.first.id}}" readonly>

                                                                {{cartForm}}

                                                            </form>

                                                        </a>

                                                    </div>
                                                </div>


                                            </div>

                                            {% endfor %}



                                        </div>
                                    </div>

                                </div>
                            </section>
                        </renderless-add-to-cart>

                    </div>


                </div>


                <div class="modal-footer d-flex flex-nowrap justify-content-between " vue>
                    <a href="/cart" class="border_btn text-uppercase s-family p-color button-size ls-1">ir a mi
                        carrito</a>
                    <a href="/checkout" class="main-button text-center  text-uppercase button-size ls-1 "
                        style="height: 40px;line-height: 40px;">
                        Pagar ${% raw %}{{$store.state['cart'].total.toLocaleString('en-US')}} {% endraw %} </a>
                </div>
            </div>
        </div>
    </div>

</renderless-cart-popup>