<!-- mobile menu -->


<section class="mobile_menu d-lg-none">
    <div class="row align-items-center">
        <div class="col-6 col-sm-6 col-md-3 mobile_logo pe-0 py-3 ps-4 pe-3">
            <a href="/"> <img class="w-100" src="{{ 'logo-dark.static.svg' | asset_url }}"> </a>
        </div>
        <div class="col-6 col-sm-6 col-md-9 ps-0 pe-4">
            <div id="mobile_menu_action" class="hstack align-items-center justify-content-end">
                <div><a href="#"
                        class="no-arrow  snize-sticky-searchbox snize-custom-widget-opener bottom-right snize-new-design"><img
                            src="{{ " search.static.svg" | asset_url }}"></a></div>
                <div class="px-3"><a href="/cart"><img src="{{ " cart.static.svg" | asset_url }}">
                        {% if cart.item_count > 0 %}
                        <span class="cart-counter">{% raw %}{{ $store.state['cart'].count }}{% endraw %}</span>
                        {% endif %}
                    </a></div>
                <div id="open-mobile"><img src="{{ " hamburger.static.svg" | asset_url}}"></div>
                <div id="close-mobile" style="display: none;"><img src="{{ " close.static.svg" | asset_url}}"></div>
            </div>
        </div>
    </div>
</section>


<div id="my-header d-none d-lg-block">
    <nav id="mobile-menu">
        <ul>
            {% for block in blocks %}
            {% if block.type == 'mega_menu' %}

            <li>
                <a class="mb_heading mm-{{ forloop.index0 }}" href="{{block.settings.main_item_link}}">
                    {{block.settings.main_item}}
                </a>
                {% if block.settings.sub_menu_1 != blank %}
                <div class="mb_submenu">
                    {% for link in linklists[block.settings.sub_menu_1].links %}
                    <div>
                        <a class="s-family" href="{{ link.url }}">{{ link.title }}</a>
                    </div>
                    {% endfor %}
                    {% if block.settings.sub_menu_1 != blank %}
                    {% for link in linklists[block.settings.sub_menu_2].links %}

                    <div>
                        <a class="s-family" href="{{ link.url }}">{{ link.title }}</a>
                    </div>
                    {% endfor %}

                    {% endif %}

                </div>
                {% endif %}
            </li>

            {% endif %}
            {% endfor %}

            <li class="btm">


                {% for block in section.blocks %}
                {% if block.type == 'right_menu' %}
                <div>
                    <a class=" active text-decoration-none" href="{{ block.settings.main_item_link }}"> {{
                        block.settings.main_item }} </a>
                </div>



                {% endif %}
                {% endfor %}
            </li>


        </ul>

    </nav>

</div>



<!-- end mobile menu -->