<div data-quiz="{{screen}}">

    {% if b.title1 != blank %}
    <div class="cs-radio py-3">

        <div class="form-check d-flex align-items-center">
            <input @change="validateValue($event,{{b.image_lg1 | img_url: 'master' | json | replace: '"', "'"}})"
                class="form-check-input" type="radio" id="{{b.title1}}-1{{for}}" value="{{b.title1}}" {{quizModel}}>
            <label class="form-check-label" for="{{b.title1}}-1{{for}}">
                <img class="me-4 ms-4" src="{{b.image1  | img_url: 'master' }}">{{b.title1}}
            </label>
        </div>
    </div>
    {% endif %}

    {% if b.title2 != blank %}
    <div class="cs-radio py-3">
        <div class="form-check d-flex align-items-center">
            <input @change="validateValue($event,{{b.image_lg2 | img_url: 'master' | json | replace: '"', "'"}})"
                class="form-check-input" type="radio" id="{{b.title2}}-2{{for}}" value="{{b.title2}}" {{quizModel}}>
            <label class="form-check-label" for="{{b.title2}}-2{{for}}">
                <img class="me-4 ms-4" src="{{b.image2 | img_url: 'master'}}">{{b.title2}}
            </label>
        </div>
    </div>
    {% endif %}


    {% if b.title3 != blank %}
    <div class="cs-radio py-3">
        <div class="form-check d-flex align-items-center">
            <input @change="validateValue($event,{{b.image_lg3 | img_url: 'master' | json | replace: '"', "'"}})"
                class="form-check-input" type="radio" id="{{b.title3}}-3{{for}}" value="{{b.title3}}" {{quizModel}}>
            <label class="form-check-label" for="{{b.title3}}-3{{for}}">
                <img class="me-4 ms-4" src="{{b.image3 | img_url: 'master'}}">{{b.title3}}
            </label>
        </div>
    </div>
    {% endif %}

    {% if b.title4 != blank %}
    <div class="cs-radio py-3">
        <div class="form-check d-flex align-items-center">
            <input @change="validateValue($event,{{b.image_lg4 | img_url: 'master' | json | replace: '"', "'"}})"
                class="form-check-input" type="radio" id="{{b.title4}}-4{{for}}" value="{{b.title4}}" {{quizModel}}>
            <label class="form-check-label" for="{{b.title4}}-4{{for}}">
                <img class="me-4 ms-4" src="{{b.image4 | img_url: 'master'}}">{{b.title4}}
            </label>
        </div>
    </div>
    {% endif %}

    {% if b.title5 != blank %}
    <div class="cs-radio py-3">
        <div class="form-check d-flex align-items-center">
            <input @change="validateValue($event,{{b.image_lg5 | img_url: 'master' | json | replace: '"', "'"}})"
                class="form-check-input" type="radio" id="{{b.title5}}-5{{for}}" value="{{b.title5}}" {{quizModel}}>
            <label class="form-check-label" for="{{b.title5}}-5{{for}}">
                <img class="me-4 ms-4" src="{{b.image5 | img_url: 'master'}}">{{b.title5}}
            </label>
        </div>
    </div>
    {% endif %}

    {% if b.title6 != blank %}

    <div class="cs-radio py-3">
        <div class="form-check d-flex align-items-center">
            <input @change="validateValue($event,{{b.image_lg6 | img_url: 'master' | json | replace: '"', "'"}})"
                class="form-check-input" type="radio" id="{{b.title6}}-6{{for}}" value="{{b.title6}}" {{quizModel}}>
            <label class="form-check-label" for="{{b.title6}}-6{{for}}">
                <img class="me-4 ms-4" src="{{b.image6 | img_url: 'master'}}">{{b.title6}}
            </label>
        </div>
    </div>
    {% endif %}

    {% if b.title7 != blank %}
    <div class="cs-radio py-3">
        <div class="form-check d-flex align-items-center">
            <input @change="validateValue($event,{{b.image_lg7 | img_url: 'master' | json | replace: '"', "'"}})"
                class="form-check-input" type="radio" id="{{b.title7}}-7{{for}}" value="{{b.title7}}" {{quizModel}}>
            <label class="form-check-label" for="{{b.title7}}-7{{for}}">
                <img class="me-4 ms-4" src="{{b.image7 | img_url: 'master'}}">{{b.title7}}
            </label>
        </div>
    </div>

    {% endif %}
















</div>