<div data-quiz="{{screen}}">

    <div class="cs-radio py-3">
        <div class="form-check d-flex align-items-center">
            <input @change="validateValue" class="form-check-input" type="radio" id="{{b.title}}-{{for}}"
                value="{{b.title}}" {{quizModel}}>
            <label class="form-check-label" for="{{b.title}}-{{for}}">
                <img class="me-4 ms-4" src="{{b.image | img_url: 'master'}}">{{b.title}}
            </label>
        </div>
    </div>
</div>