<header vue>
  <nav class="navbar navbar-light navbar-expand-md d-none d-lg-block">
    <div class="container-fluid no-pad">
      <a class="navbar-brand" href="/"><img src="{{ 'logo-dark.static.svg' | asset_url }}"></a>
      <!-- <button class="navbar-toggler" data-bs-target="#navcol-1" data-bs-toggle="collapse">
        <span class="visually-hidden">Toggle
          navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul
          class=" cs_aroow navbar-nav d-md-flex d-lg-flex d-xl-flex align-items-md-center align-items-lg-center align-items-xl-center">


          {% for block in section.blocks %}

          {% if block.type == 'mega_menu' %}

          <li class="nav-item {% if block.settings.sub_menu_1 != blank %} dropdown has-megamenu {% endif %}">

            {% if block.settings.sub_menu_1 == blank %}
            <a class=" active text-decoration-none" href="{{ block.settings.main_item_link }}">
              {{block.settings.main_item | strip }}</a>
            {% endif %}

            {% if block.settings.sub_menu_1 != blank %}
            <div class="nav-item dropdown">
              <a aria-expanded="false" class="dropdown-toggle active text-decoration-none" data-bs-toggle="dropdown"
                href="{{ block.settings.main_item_link }}"> {{ block.settings.main_item | strip }} </a>

              <div class="py-4 dropdown-menu megamenu w-100" role="menu"
                style="border-width: 0px;border-radius: 0;box-shadow: 0px 0px 3px 2px var(--s-color);">
                <!-- Start: 1 Row 2 Columns -->
                <div class="container cs-width">
                  <div class="row">
                    <div class="col-md-2">
                      <ul>
                        {% for link in linklists[block.settings.sub_menu_1].links %}
                        <li><a href="{{ link.url }}"> {{link.title}} </a></li>
                        {% endfor %}

                      </ul>
                    </div>
                    <div class="col-md-2">
                      <ul>
                        {% for link in linklists[block.settings.sub_menu_2].links %}
                        <li><a href="{{ link.url }}"> {{link.title}} </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div><!-- End: 1 Row 2 Columns -->
              </div>
            </div>
            {% endif %}
          </li>
          {% endif %}

          {% endfor %}

        </ul>
        <ul
          class="navbar-nav d-md-flex d-lg-flex d-xl-flex align-items-md-center align-items-lg-center align-items-xl-center ms-auto right-menu">
          {% for block in section.blocks %}
          {% if block.type == 'right_menu' %}
          <li class="nav-item {% if block.settings.sub_menu != blank %} has-dropdown {% endif %} me-4">

            {% if block.settings.sub_menu == blank %}
            <a class=" active text-decoration-none" href="{{ block.settings.main_item_link }}"> {{
              block.settings.main_item }} </a>
            {% endif %}
            {% if block.settings.sub_menu != blank %}
            <div class="nav-item dropdown">
              <a aria-expanded="false" class="dropdown-toggle active text-decoration-none" data-bs-toggle="dropdown"
                href="{{ block.settings.main_item_link }}">{{
                block.settings.main_item }}</a>
              <div class="dropdown-menu">
                {% for link in linklists[block.settings.sub_menu].links %}
                <a class="dropdown-item" href="{{ link.url }}"> {{link.title}} </a>
                {% endfor %}

              </div>
            </div>
            {% endif %}
          </li>

          {% endif %}
          {% endfor %}

          <li class="nav-item">
            <div class="nav-item dropdown">


              <a aria-expanded="false" class="no-arrow dropdown-toggle" data-bs-toggle="dropdown" href="#"><img
                  src="{{'search.static.svg '|asset_url}}"> </a>
              <div class="border-0 dropdown-menu" id="search-box">

                <form class="search" action="/search" style="width: 100%;">
                  <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}" />

                </form>

              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><img src="{{'cart.static.svg' | asset_url }}">
             
              <span class="cart-counter" v-if=" $store.state['cart'].count > 0">
                {% raw %}{{ $store.state['cart'].count }}{% endraw %}
              </span>
             
            </a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

  {% render 'mobile-navigation', logo: section.settings.logo, blocks: section.blocks, section:section.settings %}

</header>



<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menu = new MmenuLight(document.querySelector('#mobile-menu'));

    const navigator = menu.navigation();
    const drawer = menu.offcanvas();

    document.querySelector('#open-mobile').addEventListener('click', function (evnt) {
      evnt.preventDefault();
      drawer.open();
      this.style.display = 'none';
      document.querySelector('#close-mobile').style.display = 'block';
    });
    document.querySelector('#close-mobile').addEventListener('click', function (evnt) {
      evnt.preventDefault();
      drawer.close();
      this.style.display = 'none';
      document.querySelector('#open-mobile').style.display = 'block ';
    });

  });

</script>



<style>
  
  @media all and (min-width:980px) {
    .mx-550 {
    max-width: 49%;
}
    .space-end {
    padding-right:4vw;
          margin-right: 0;
}
  }
  
    @media all and (min-width:1280px) {
    .space-end {
    padding-right: 15vw;
}
          .mx-550 {
    max-width: 49.4%;
}
  }

  
      @media all and (max-width:980px) {
main#main {
    padding: 0 10px;
}
        section.mobile_menu.d-lg-none {
    padding-right: 10px !important;
}

        .col-6.col-sm-6.col-md-3.mobile_logo.pe-0.py-3.ps-4.pe-3 {
    padding-left: 32px !important;
}
  }
  
  
  
</style>


{% schema %}
{
"name": "header",
"settings": [{
"type": "image_picker",
"id": "logo",
"label": "Logo"
},

{
"type": "link_list",
"id": "mb_bottom_menu",
"label": "Mobile Bottom Menu"
}

],
"blocks": [
{
"type": "mega_menu",
"name": "mega_menu",
"settings": [
{
"type": "text",
"id": "main_item",
"label": "Main Item"
},
{
"type": "url",
"id": "main_item_link",
"label": "Main Item Link"
},
{
"type": "link_list",
"id": "sub_menu_1",
"label": "Sub Menu 1"
},
{
"type": "link_list",
"id": "sub_menu_2",
"label": "Sub Menu 2"
}
]
},
{
"type": "right_menu",
"name": "right_menu",
"settings": [
{
"type": "text",
"id": "main_item",
"label": "Main Item"
},
{
"type": "url",
"id": "main_item_link",
"label": "Main Item Link"
},
{
"type": "link_list",
"id": "sub_menu",
"label": "Drop Down Menu"
}
]
}

]
}
{% endschema %}