<section vue style="min-height: 60vh;">
    {% if cart.items == blank %}
    <div class="container">
        <h3>Mi carrito</h3>
    </div>
    <div class="container" style="padding-top: 200px;padding-bottom: 200px;">
        <h3 class="text-center text2-color">Aún no tienes productos en tu carrito.</h3>
        <div>
            <a href="{{section.settings.btn_link}}"
                class="mx-auto mt-5 main-button text-uppercase text-center">{{section.settings.btn_text}}</a>
        </div>
    </div>


    {% else %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-8 pt-5">
                <h3 class="mb-4">Mi carrito</h3>
                {% for item in cart.items %}
                {% assign prop = item.product.metafields.prop %}
                <renderless-cart v-slot={increment,decrement,quantityValue,deleteItem} :qty="{{item.quantity}}"
                    :product="{{ item.product.compare_at_price | json | replace: '"', "'" }}">

                    <div class="hstack justify-content-between flex-wrap boder-line-top py-3">
                        <div class="hstack"><img class="cart_img"
                                src="{{item.product.featured_image.src | img_url: 'medium'}}">
                            <div class="ms-2">
                                <h5 class="font-12 s-family p-color">{{item.product.title}}</h5>
                                <p class="font-12 s-family mb-0 text2-color">Color: {{prop.color}}
                                </p>
                                <p class="font-12 s-family mb-0 text2-color">Patas: {{prop.patas}}</p>
                                <p class="font-12 s-family mb-0 text2-color">Costados: {{prop.costados}}</p>
                                <div class="hstack">
                                    <p class="font-12 s-family me-3">{{item.product.price |
                                        money_without_trailing_zeros}}
                                    </p>


                                    <p class="font-12 s-family text2-color text-decoration-line-through">
                                        {{item.product.compare_at_price |
                                        money_without_trailing_zeros}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="hstack align-self-auto">
                            <div class="spinner-border spinner-border-sm me-3 cart_spinner" role="status"> </div>
                            <div class="hstack v2 quantity_picker">
                                <div><button @click="() => decrement({{item.variant_id}})" class="btn" type="button"><i
                                            class="material-icons">remove</i></button>
                                </div><input :value="quantityValue.value" type="number" class="border-0">
                                <div><button @click="() => increment({{item.variant_id}} )" class="btn" type="button"><i
                                            class="material-icons">add</i></button></div>
                            </div>

                            <img style="cursor:pointer" @click="()=> deleteItem({{item.variant_id}})"
                                src="{{ 'trash.static.svg' | asset_url }}" class="ps-md-4 pe-md-4 ps-3 " />

                        </div>
                    </div>

                </renderless-cart>

                {% endfor %}



                <div vue>

                    <renderless-add-to-cart v-slot="{ processCartForm }">

                        <section class="py-5 minus-80">
                            <div class="">
                                <div class="mb-3 full-border-top d-flex justify-content-between">
                                    <h4>{{section.settings.c_title}}</h4>
                                    <div class="product_slider_arrow"><img class="prev-arrow"
                                            src="{{ 'prev-arrow.static.png'  | asset_img_url: 'master'}}"><img
                                            class="next-arrow"
                                            src="{{ 'next-arrow.static.png'  | asset_img_url: 'master'}}"></div>
                                </div>
                                <div id="product_slider" class="swiper">
                                    <div class="swiper-wrapper">
                                        {% assign collection = section.settings.collection %}
                                        {% for product in collection.products %}
                                        <div class=" swiper-slide">
                                            <div class="hover_product ">

                                                <a href="{{product.url}}">
                                                    <img class="w-100"
                                                        src="{{ product.featured_image.src | img_url: '1024x' }}">
                                                    <div class="ps-2">
                                                        <h5> {{product.title}} </h5>
                                                        <span class="regular_price"> {{ product.price |
                                                            money_without_trailing_zeros }}</span>
                                                        <span class="sale_price"> {{ product.compare_at_price |
                                                            money_without_trailing_zeros }}</span>
                                                    </div>
                                                </a>
                                            </div>

                                            {% capture cartForm %}

                                            <div id="add_to_cart" style="width: 100%;">
                                                <button name="add" class="text-uppercase ls-1 p-color border-btn">

                                                    agregar al
                                                    carrito</button>
                                            </div>

                                            {% endcapture %}

                                            <!-- add to cart -->
                                            <form method="post" @submit.prevent="processCartForm" action="/cart/add"
                                                id="product_cart_form">

                                                <input name="id" type="hidden" value="{{product.variants.first.id}}"
                                                    readonly>

                                                {{cartForm}}

                                            </form>
                                            <!-- end cart btn -->

                                        </div>

                                        {% endfor %}



                                    </div>
                                </div>
                            </div>
                        </section>
                    </renderless-add-to-cart>

                </div>



            </div>
            <div class="col-md-4 col-xl-4 bg-white px-3 py-4 pt-5">
                <h6 class="s-family text-uppercase boder-line pb-2">Resumen de tu compra</h6>

                <div class="hstack justify-content-between">
                    <h4 class="s-family font-12 mb-0">Subtotal</h4>
                    <h4 class="font-12 s-family mb-0">${% raw %}{{ $store.state['cart'].total.toFixed(0).toLocaleString("en-US") }}{% endraw %} MXN</h4>
                </div>
                <div class="hstack justify-content-between boder-line pb-1">
                    <h4 class="s-family font-12 mb-0">Descuento</h4>
                    <h4 class="font-12 s-family mb-0" style="color:#F64F4F;">${% raw %}{{
                        ( $store.state['cart'].discountedValue - $store.state['cart'].total).toFixed(0).toLocaleString("en-US") }}{%
                        endraw %}
                        MXN </h4>

                </div>

                <p class="mb-0 font-12 s-family mt-4 text2-color">El costo del envío se muestra en el checkout. </p>
                <p class="mb-0 font-12 s-family text2-color"> ¿Tienes un código de descuento? Aplícalo en el checkout.
                </p>
                <a class="main-button w-100 text-center mt-3 text-uppercase ls-1" href="/checkout">finalizar pedido</a>
            </div>
        </div>
    </div>
    {% endif %}

</section>





<script>
    window.addEventListener('load', function () {
        new Swiper('#product_slider', {
            navigation: { nextEl: '.next-arrow', prevEl: '.prev-arrow' },
            slidesPerView: 2,
            spaceBetween: 20,
            breakpoints: { 981: { slidesPerView: 4, spaceBetween: 40 } },
        })
    });
</script>


{% schema %}
{
"name": "cart",
"settings": [
{
"type": "text",
"label": "Collection Title",
"id": "c_title"
},
{
"type": "collection",
"label": "Select Collection",
"id": "collection"
},
{
"type": "text",
"label": "Button Text",
"id": "btn_text"
},
{
"type": "url",
"label": "Button Link",
"id": "btn_link"
}
]
}
{% endschema %}