<section>
    <div class="container low-border">
        <h1 class="space-end mx-550 ms-auto"> {{section.settings.title}} </h1>
    </div>
    <div class="container high-border"></div>
    <div class="container high-border">
        <p class="space-end mx-550 ms-auto pt-3"> {{section.settings.description}} </p>
    </div>
</section>
<section>
    <!-- Start: 1 Row 2 Columns -->

    {% for block in section.blocks %}
    {% assign b = block.settings %}

    {% if block.type == 'two_columns' %}

    <div class="container mt-3 low-border">
        <div class="row">
            <div class="col-md-6 ps-0"><img class="w-100" src="{{ b.image | img_url: 'master' }}">
            </div>
            <div class="col-md-6">
                <h6 class="text-center text-uppercase s-family fw-normal"> {{b.title}} </h6>
                <p class="pt-5">{{b.description}} </p>
                <div class="mt-5">

                    {% if b.ico_1_title != blank %}
                    <div class="d-flex align-items-center mt-3"><img src="{{b.ico_1_image | img_url: 'master'}}">
                        <p class="mb-0 ms-3 s-family fw-normal font-12"> {{b.ico_1_title}} </p>
                    </div>
                    {% endif %}
                    {% if b.ico_2_title != blank %}
                    <div class="d-flex align-items-center mt-3"><img src="{{b.ico_2_image | img_url: 'master'}}">
                        <p class="mb-0 ms-3 s-family fw-normal font-12"> {{b.ico_2_title}} </p>
                    </div>
                    {% endif %}
                    {% if b.ico_3_title != blank %}
                    <div class="d-flex align-items-center mt-3"><img src="{{b.ico_3_image | img_url: 'master'}}">
                        <p class="mb-0 ms-3 s-family fw-normal font-12"> {{b.ico_3_title}} </p>
                    </div>
                    {% endif %}
                    {% if b.ico_4_title != blank %}
                    <div class="d-flex align-items-center mt-3"><img src="{{b.ico_4_image | img_url: 'master'}}">
                        <p class="mb-0 ms-3 s-family fw-normal font-12"> {{b.ico_4_title}} </p>
                    </div>
                    {% endif %}

                    {% if b.ico_5_title != blank %}
                    <div class="d-flex align-items-center mt-3"><img src="{{b.ico_5_image | img_url: 'master'}}">
                        <p class="mb-0 ms-3 s-family fw-normal font-12"> {{b.ico_5_title}} </p>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% endfor %}

</section>


{% for block in section.blocks %}
{% assign b = block.settings %}

{% if block.type == 'cta' %}

<section class="pad-large bg-EFEBEB my-5">
    <div class="container">
        <div class="mx-auto mx-600">
            <h1> {{b.title}} </h1>
            <p class="pt-3"> {{b.description}} </p>
        </div>
    </div>
</section>

{% endif %}

{% endfor %}


{% for block in section.blocks %}
{% assign b = block.settings %}

{% if block.type == 'sofas' %}

<section class="py-5">
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="mb-3 full-border-top d-flex justify-content-between">
            <h4> {{b.title}} </h4>
            <div class="product_slider_arrow"><img class="prev-arrow" src="{{ 'prev-arrow.static.png' | asset_url }}">
                <img class="next-arrow" src="{{ 'next-arrow.static.png' | asset_url }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="mb-5 mx-550">{{b.description}}</div><a class="main-button text-center text-uppercase"
                    href="{{b.btn_url}}">{{b.btn_text}}</a>
            </div>
            <div class="col-md-6">
                <div id="product_slider_2_slides" class="swiper">
                    <div class="swiper-wrapper">

                        {% for product in b.collection.products %}
                        <div class="hover_product swiper-slide">
                            <img class="w-100" src="{{ product.featured_image.src | img_url: 'master'}}">
                            <div class="ps-2">
                                <h5> {{product.title}} </h5><span> {{product.price | money_without_trailing_zeros}}
                                </span>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div><!-- End: 1 Row 2 Columns -->
</section>

{% endif %}

{% endfor %}

<script>


    window.addEventListener('load', function () {

        new Swiper('#product_slider_2_slides', {
            slidesPerView: 2,
            spaceBetween: 20,
            navigation: { nextEl: '.next-arrow', prevEl: '.prev-arrow' },
        });

    });

</script>


{% schema %}
{
"name": "responsibility",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "description",
"label": "Description"
}
],
"blocks": [
{
"type": "two_columns",
"name": "Two Columns",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "description",
"label": "Description"
},
{
"type": "text",
"id": "ico_1_title",
"label": "icon_1_title"
},
{
"type": "image_picker",
"id": "ico_1_image",
"label": "Icon 1 Image"
},
{
"type": "text",
"id": "ico_2_title",
"label": "icon_2_title"
},
{
"type": "image_picker",
"id": "ico_2_image",
"label": "Icon 2 Image"
},
{
"type": "text",
"id": "ico_3_title",
"label": "icon_3_title"
},
{
"type": "image_picker",
"id": "ico_3_image",
"label": "Icon 3 Image"
},
{
"type": "text",
"id": "ico_4_title",
"label": "icon_4_title"
},
{
"type": "image_picker",
"id": "ico_4_image",
"label": "Icon 4 Image"
},
{
"type": "text",
"id": "ico_5_title",
"label": "icon_5_title"
},
{
"type": "image_picker",
"id": "ico_5_image",
"label": "Icon 5 Image"
}
]
},

{
"type": "cta",
"name": "Cta Section",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "description",
"label": "Description"
}
]
},

{
"type": "sofas",
"name": "sofas Section",
"settings": [
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "description",
"label": "Description"
},
{
"type": "text",
"id": "btn_text",
"label": "Button Text"
},
{
"type": "url",
"id": "btn_url",
"label": "Button Link"
},
{
"type": "collection",
"id": "collection",
"label": "Select Collection"
}
]
}
]
}

{% endschema %}