{% for block in section.blocks %}
{% assign b = block.settings %}
{% if page.handle == b.page %}

<section class="mb-5">
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img class="w-100" src="{{b.image | img_url: 'master' }}"></div>
            <div class="col-md-6 flex-wrap d-flex">
                <div class="w-100 pt-2">
                    <h1> {{b.title}} </h1>
                    <p class="single-mail"> {{b.email}} </p>
                </div>
                <div class="w-100 align-self-end single-desc position-relative">
                    {{b.description}}
                </div>
            </div>
        </div>
    </div>





</section>
<section class="bg-EFEBEB py-5">
    <div class="container">
        <div class="mb-3 full-border-top d-flex justify-content-between">
            <h4>{{b.c_title}}</h4>
            <div class="product_slider_arrow"><img class="prev-arrow"
                    src="{{ 'prev-arrow.static.png'  | asset_img_url: 'master'}}"><img class="next-arrow"
                    src="{{ 'next-arrow.static.png'  | asset_img_url: 'master'}}"></div>
        </div>
        <div id="product_slider" class="swiper">
            <div class="swiper-wrapper">
                {% assign collection = b.collection %}
                {% for product in collection.products %}
                <div class="hover_product swiper-slide">
                    <a href="{{product.url}}">
                        <img class="w-100" src="{{ product.featured_image.src | img_url: '1024x' }}">
                        <div class="ps-2">
                            <h5> {{product.title}} </h5><span> {{ product.price | money_without_trailing_zeros }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>


{% endif %}
{% endfor %}


<script>
    window.addEventListener('load', function () {
        new Swiper('#product_slider', {
            navigation: { nextEl: '.next-arrow', prevEl: '.prev-arrow' },
            slidesPerView: 2,
            spaceBetween: 20,
            breakpoints: { 981: { slidesPerView: 4, spaceBetween: 40 } },
        })
    });
</script>




{% schema %}
{
"name": "single_disenadores",
"max_blocks": 1,
"settings": [],
"blocks": [{
"type": "disenadores",
"name": "disenadores",
"settings": [{
"type": "page",
"id": "page",
"label": "Select Current Page"
},

{
"type": "text",
"id": "c_title",
"label": "Collection Title"
},
{
"type": "collection",
"id": "collection",
"label": "Select Collection"
},

{
"type": "image_picker",
"id": "image",
"label": "Select Image"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "email",
"label": "Email"
},
{
"type": "richtext",
"id": "description",
"label": "Description"
}
]
}],
"presets": [{
"name": "Single Profile",
"category": "Profile"
}]

}
{% endschema %}