<section>
    <div class="container low-border">
        <h1 class="space-end mx-550 ms-auto">{{section.settings.title}}</h1>
    </div>
    <div class="container high-border"></div>
    <div class="container high-border">
        <div class="space-end mx-550 ms-auto pt-3 ">
            <p class="b2-size p-color mx-430"> {{section.settings.description}} </p>

        </div>
    </div>
</section>

{% for block in section.blocks %}
{% assign b = block.settings %}
{% if block.type == "bg_section" %}

<section>
    <div class="container pad-xl" style="
          background: url({{b.bg_image | img_url : "master"}}) no-repeat; background-size: cover; ">
        <div class=" row mx-600 pl-16 mx-auto">
        <div class="col">
            <h4 class="text-white">
                {{b.title}}
            </h4>
            <div class="mt-5 text-white">
                {% if b.ico_1_title != blank %}
                <div class="d-flex align-items-center mt-3">
                    <img src="{{b.ico_1_image| img_url : "master"}}" />
                    <p class="mb-0 ms-3 s-family fw-normal text-white"> {{b.ico_1_title}} </p>
                </div>
                {% endif %}

                {% if b.ico_2_title != blank %}
                <div class="d-flex align-items-center mt-3">
                    <img src="{{b.ico_2_image | img_url : "master"}}" />
                    <p class="mb-0 ms-3 s-family fw-normal text-white">{{b.ico_2_title}}</p>
                </div>
                {% endif %}

                {% if b.ico_3_title != blank %}
                <div class="d-flex align-items-center mt-3">
                    <img src="{{b.ico_3_image | img_url : "master"}}" />
                    <p class="mb-0 ms-3 s-family fw-normal text-white">{{b.ico_3_title}}</p>
                </div>
                {% endif %}

                {% if b.ico_4_title != blank %}
                <div class="d-flex align-items-center mt-3">
                    <img src="{{b.ico_4_image | img_url : "master"}}" />
                    <p class="mb-0 ms-3 s-family fw-normal text-white">{{b.ico_4_title}}</p>
                </div>
                {% endif %}




            </div>
        </div>
    </div>
    </div>
</section>

{% endif %}

{% endfor %}


<section class="py-5 p-80 ">
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="mb-3 full-border-top d-flex justify-content-between">
            <h4>{{section.settings.gallery_title}}</h4>
            <div class="product_slider_arrow">
                <img class="prev-arrow" src="https://remedia.bss.design/assets/img/prev-arrow.png" /><img
                    class="next-arrow" src="https://remedia.bss.design/assets/img/next-arrow.png" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="gallery-slider" class="swiper">
                    <div class="swiper-wrapper">

                        {% for block in section.blocks %}
                        {% if block.type == 'gallery' %}
                        <div class="hover_product swiper-slide">
                            <img class="w-100" src="{{ block.settings.image | img_url: '1024x' }}" />
                        </div>
                        {% endif %}

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
</section>

{% for block in section.blocks %}
{% if block.type == 'contact' %}

<section class="py-4 bg-white p-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pb-5">
                <h2>{{block.settings.title}}</h2>
                <div class="pt-5 mt-5 pb-4 mx-430 b2-size">
                    {{block.settings.description}}
                </div>
                <a class="text-black s-family text-decoration-none d-block b3-size" href="#">
                    {{block.settings.phone}}</a><a class="text-black s-family text-decoration-none d-block b3-size"
                    href="#"> {{block.settings.email}}</a>
            </div>
            <div class="col-12 col-md-6">
                {% form 'contact' %}

                {% if form.posted_successfully? %}
                  {% render 'successMsg' , form: form %}
                {% endif %}

                {% if form.errors %}
                <div class="errorForm feedback">
                    <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
                    <p>Tu formulario de contacto tiene {{ form.errors | size | pluralize: "an error", "a few errors" }}.
                        Para
                        enviar su formulario, realice los siguientes cambios y vuelva a intentarlo:
                    </p>
                    {% for field in form.errors %}
                    <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field]
                        }}.</p>
                    {% endfor %}
                </div>
                {% endif %}




                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4">
                    <input type="text" class="form-control text_input" placeholder="Nombre" required
                        name="contact[Nombre]" /><label class="form-label">Nombre</label>
                </div>
                <!-- End: Nubs Input -->
                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4">
                    <input name="contact[email]" required type="email" class="text_input form-control"
                        placeholder="electrónico" /><label class="form-label">Correo
                        electrónico</label>
                </div>
                <!-- End: Nubs Input -->
                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4">
                    <input type="text" name="contact[Telefono]" class="text_input form-control mb-4"
                        placeholder="Teléfono" />
                    <label class="form-label">Teléfono</label>
                </div>
                <!-- End: Nubs Input -->
                <div class="form-floating mb-3">
                    <textarea class="text_input form-control" required name="contact[body]"
                        placeholder="Message"></textarea><label class="form-label">Mensaje
                    </label>
                </div>
                <button type="submit" class="submit_form main-button text-center w-100 text-uppercase">enviar</button>

                {% endform %}
            </div>
        </div>
    </div>
</section>


{% endif %}

{% endfor %}

<script>
    window.addEventListener('load', function () {
        new Swiper('#gallery-slider', {
            slidesPerView: 2,
            spaceBetween: 20,
            navigation: { nextEl: '.next-arrow', prevEl: '.prev-arrow' },
            breakpoints: { 981: { slidesPerView: 3, spaceBetween: 40 } },
        });
    });
</script>






{% schema %}
{
"name": "business",
"settings": [{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "description",
"label": "Description"
},
{
"type": "text",
"id": "gallery_title",
"label": "gallery_title"
}
],
"blocks": [{
"type": "bg_section",
"name": "Background Section",
"settings": [
{
"type": "image_picker",
"id": "bg_image",
"label": "Background Image"
},
{

"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "ico_1_title",
"label": "icon_1_title"
},
{
"type": "image_picker",
"id": "ico_1_image",
"label": "Icon 1 Image"
}, {
"type": "text",
"id": "ico_2_title",
"label": "icon_2_title"
},
{
"type": "image_picker",
"id": "ico_2_image",
"label": "Icon 2 Image"
}, {
"type": "text",
"id": "ico_3_title",
"label": "icon_3_title"
},
{
"type": "image_picker",
"id": "ico_3_image",
"label": "Icon 3 Image"
},
{
"type": "text",
"id": "ico_4_title",
"label": "icon_4_title"
},
{
"type": "image_picker",
"id": "ico_4_image",
"label": "Icon 4 Image"
}
]
},

{
"type": "gallery",
"name": "gallery",
"settings": [{
"type": "image_picker",
"id": "image",
"label": "Image"
}]
},


{
"type": "contact",
"name": "contact",
"settings": [{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "description",
"label": "Description"

},
{
"type": "text",
"id": "phone",
"label": "Phone"
},
{
"type": "text",
"id": "email",
"label": "Email"
}
]
}
]
}
{% endschema %}