<section vue style="min-height: 60vh;">
    {% if cart.items == blank %}
    <div class="container" style="padding-top: 200px;padding-bottom: 200px;">
        <h3 class="text-center text2-color">Aún no tienes productos en tu carrito.</h3>
        <div>
            <a href="/" class="mx-auto mt-5 main-button text-uppercase text-center">Explorar sofás</a>
        </div>
    </div>


    {% else %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-8 pt-5">
                <h3 class="mb-4">Mi carrito</h3>
                {% for item in cart.items %}
                {% assign prop = item.product.metafields.prop %}
                <renderless-cart v-slot={increment,decrement,quantityValue,deleteItem} :qty="{{item.quantity}}">

                    <div class="hstack justify-content-between flex-wrap boder-line-top py-3">
                        <div class="hstack"><img class="cart_img"
                                src="{{item.product.featured_image.src | img_url: 'medium'}}">
                            <div class="ms-2">
                                <h5 class="font-12 s-family">{{item.product.title}}</h5>
                                <p class="font-12 s-family mb-0 text2-color">Color: {{prop.color}}
                                </p>
                                <p class="font-12 s-family mb-0 text2-color">Patas: {{prop.patas}}</p>
                                <p class="font-12 s-family mb-0 text2-color">Costados: {{prop.costados}}</p>
                                <div class="hstack">
                                    <p class="font-12 s-family me-3">{{item.product.price |
                                        money_without_trailing_zeros}}
                                    </p>
                                    <p class="font-12 s-family text2-color">{{item.product.compare_at_price |
                                        money_without_trailing_zeros}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="hstack align-self-auto">
                            <div class="spinner-border spinner-border-sm me-3 cart_spinner" role="status"> </div>
                            <div class="hstack v2 quantity_picker">
                                <div><button @click="() => decrement({{item.variant_id}})" class="btn" type="button"><i
                                            class="material-icons">remove</i></button>
                                </div><input :value="quantityValue.value" type="number" class="border-0">
                                <div><button @click="() => increment({{item.variant_id}} )" class="btn" type="button"><i
                                            class="material-icons">add</i></button></div>
                            </div><i class="material-icons ms-3"
                                @click="()=> deleteItem({{item.variant_id}})">delete</i>
                        </div>
                    </div>

                </renderless-cart>

                {% endfor %}
            </div>
            <div class="col-md-4 col-xl-4 bg-white px-3 py-4 pt-5">
                <h6 class="s-family text-uppercase boder-line pb-2">Resumen de tu compra</h6>
                <div class="form-floating mb-3 mt-3"><input type="text" class="form-control" placeholder="Email"><label
                        class="form-label">Agrega un cupón de descuento</label></div>
                <div class="hstack justify-content-between">
                    <h4 class="s-family font-12 mb-0">Subtotal</h4>
                    <h4 class="font-12 s-family mb-0">${% raw %}{{ $store.state['cart'].total }}{% endraw %} MXN</h4>
                </div>
                <div class="hstack justify-content-between">
                    <h4 class="s-family font-12 mb-0">Descuento</h4>
                    <h4 class="font-12 s-family mb-0">${% raw %}{{ $store.state['cart'].total }}{% endraw %} MXN </h4>
                </div><a class="main-button w-100 text-center mt-3 text-uppercase" href="/checkout">finalizar pedido</a>
            </div>
        </div>
    </div>
    {% endif %}

</section>