<!-- Start: Nubs Contact -->
<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col pb-5">
                "title": "Escríbenos",
                <p class="pt-5 mt-5 pb-4 mx-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                    hendrerit augue et, a nisi, eu at. Consequat odio scelerisque est tincidunt ipsum vitae.</p><a
                    class="text-black s-family text-decoration-none d-block" href="#">+52 22 2196 1353</a><a
                    class="text-black s-family text-decoration-none d-block" href="#">info@nubmobiliario.mx</a>
            </div>
            <div class="col">
                {% form 'contact' %}

                {% if form.posted_successfully? %}
                <div class="successForm feedback">
                    <h4>Formulario enviado correctamente
                    </h4>
                </div>
                {% endif %}

                {% if form.errors %}
                <div class="errorForm feedback">
                    <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
                    <p>Tu formulario de contacto tiene {{ form.errors | size | pluralize: "an error", "a few errors" }}.
                        Para
                        enviar su formulario, realice los siguientes cambios y vuelva a intentarlo:
                    </p>
                    {% for field in form.errors %}
                    <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field]
                        }}.</p>
                    {% endfor %}
                </div>
                {% endif %}



                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4">
                    <input type="text" required class="form-control text_input" placeholder="Nombre"
                        name="contact[Nombre]">
                    <label class="form-label">Nombre</label>
                </div><!-- End: Nubs Input -->
                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4">
                    <input type="email" required class="form-control text_input" name="contact[email]"
                        placeholder="Correo electrónico">
                    <label class="form-label">Correo electrónico</label>
                </div>
                <!-- End: Nubs Input -->
                <!-- Start: Nubs Input -->
                <div class="form-floating mb-4"><input name="contact[Telefono]" type="text"
                        class="text_input form-control mb-4" placeholder="Teléfono">
                    <label class="form-label">Teléfono</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea name="contact[body]" required class="form-control  text_input"
                        placeholder="Mensaje"></textarea><label class="form-label">Mensaje</label>
                </div>

                <button type="submit" class="submit_form main-button text-center w-100 text-uppercase">enviar</button>

                {% endform %}
            </div>
        </div>
    </div>
</section><!-- End: Nubs Contact -->